@font-face {
  font-family: "iconfont"; /* Project id 4848514 */
  src: url('iconfont.woff2?t=1741690293565') format('woff2'),
       url('iconfont.woff?t=1741690293565') format('woff'),
       url('iconfont.ttf?t=1741690293565') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-return:before {
  content: "\e601";
}

.icon-tianjia1:before {
  content: "\e607";
}

.icon-tianjia:before {
  content: "\e62c";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-shaixuan:before {
  content: "\e692";
}

.icon-gengduo:before {
  content: "\e642";
}

.icon-fanhui:before {
  content: "\e62b";
}

.icon-kuozhan1:before {
  content: "\e631";
}

.icon-chenshan:before {
  content: "\e6d3";
}

.icon-quanbu:before {
  content: "\e635";
}

.icon-shuzhuo:before {
  content: "\e600";
}

.icon-xiuxian:before {
  content: "\e64f";
}

.icon-yundong:before {
  content: "\e60a";
}

.icon-gongzuotai:before {
  content: "\e60e";
}

.icon-lvhang:before {
  content: "\e60b";
}

.icon-changyongtubiao1-99:before {
  content: "\e61a";
}

.icon-yuehui_date2-01:before {
  content: "\e611";
}

.icon-zhuye:before {
  content: "\e625";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-xiyi:before {
  content: "\e65e";
}

.icon-yigui:before {
  content: "\e624";
}

.icon-shouye:before {
  content: "\e8c6";
}

